<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Add New Dog</h1>
        <form action="/dogs" method="post">
            Name: <input type="text" name="name"><br><br>
            Color: <input type="text" name="color"><br><br>
            <input type="submit" value="Add Dog">
        </form>
    </body>
</html>