<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Edit Dog ID: <%= id %></h1>
        <form action="/dogs/<%= id %>" method="post">
            Color: <input type="text" name="color"><br><br>
            <input type="submit" value="Edit Dog">
        </form>
    </body>
</html>